$color :  rgb(110, 233, 53);
$font: monospace;
#cardmb-3
{

    background-color: rgb(39, 39, 39);
    border-radius: 0.5cm;
    margin: 0.5cm;


}
.TitleM
{
color: rgb(110, 233, 53);
    font-family: $font;
    font-size: x-large;
    display : flexbox;
    width: 6 cm;
    height: 2 cm;
    background-color: rgba(53, 53, 53, 0.918);
    padding: 0.5cm;
    margin: 0.5cm;
    border-radius: 2.5cm;
    text-align: center;
}

body
{
background-color:rgb(23, 23, 26);
margin: 1.5cm;
align-content: center;
align-items: center;
h1, h2 , h3 , h4 , h5 , p ,.container
{
    text-align: center;
    color: $color;
    font-size: 0.5cm;
    font-family: $font;
    background-color: rgb(59, 59, 59);
    align-content: center;
    
    
    border-radius: 0.3cm;

}

}
.container
{
    padding: 0.5cm;
}
h6{
    color: lime;
    display: inline-flex;
    align-content: center;
}

.card-img
{
    margin : 0.3cm;
    padding: 0.4cm;
}


footer
{
        color: rgb(0, 187, 204);
}
%message {
    font-family:monospace;
    font-size: 17px;
    font-stretch: condensed;
    font-weight: bold;
    border: 0px solid black;
    display: flex;
    padding: 20px;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    background-image: linear-gradient(rgba(59, 59, 59, 0.829),rgba(59, 59, 59, 0.829),$color,rgba(59, 59, 59, 0.829),rgba(59, 59, 59, 0.829)) ;
    border-radius: 0.3cm;
    
    
}

.motive {
    @extend %message;
    color: rgb(59, 59, 59);
}

.aim {
    @extend %message;
    color: rgb(59, 59, 59);
}

.goal {
    @extend %message;
    color: rgb(59, 59, 59);
}
