    img{
        border-radius: 50%;
        height: 2cm;
        width: 2cm;
        align-content: center;
      }
    .buttons > a
    {
        
        align-items: center;
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        margin-bottom: 0.3cm;
       
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
      }
      
    a:hover {
        background-color: rgb(0, 255, 85);
        color: black;
      }
      
      .previous {
        background-color:black;
        color: white;
      }

      .next {
        background-color: #4CAF50;
        color: white;
      }
      
      .round {
        border-radius: 20%;
      }


      .list-unstyled , h5
      {
          color: yellowgreen;
          text-align: center;
          margin: 0.5cm;
      }
      section
      {
          text-align: center;
          margin: 1px;
      }
      .algos
      {
          margin: 0.5cm;
          border-radius: 0.5cm;
      }
    